@use "../../../styles.scss" as *;

.shorten {
  margin: 2rem 5rem;
  padding: 3rem 3rem;
  background: url("/images/bg-shorten-desktop.svg") no-repeat;
  background-size: 100% 99%;
  background-position: center;
  background-color: var(--dark-violet);
  border-radius: 0.5rem;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    input {
      width: 100%;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
    }

    button {
      background-color: var(--cyan);
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  @media (max-width: 768px) {
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    background: url("/images/bg-shorten-mobile.svg") no-repeat;
    background-color: var(--dark-violet);
    background-size: 80%;
    background-position: top right;

    form {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      button {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}
