<section class="statistics">
    <div class="statistics__header">
        <h2>Advanced Statistics</h2>
        <p>Track how your links are performing across the web with <br> our advanced statistics dashboard.</p>
    </div>
    <div class="statistics__cards">
        <div class="statistics__cards__card">
            <div class="statistics__cards__card__icon">
                <img src="./images/icon-brand-recognition.svg" alt="Brand Recognition">
            </div>
            <h3>Brand Recognition</h3>
            <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
        </div>
        <div class="statistics__cards__card">
            <div class="statistics__cards__card__icon">
                <img src="./images/icon-detailed-records.svg" alt="Detailed Records">
            </div>
            <h3>Detailed Records</h3>
            <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps you make data-driven decisions.</p>
        </div>
        <div class="statistics__cards__card">
            <div class="statistics__cards__card__icon">
                <img src="./images/icon-fully-customizable.svg" alt="Fully Customizable">
            </div>
            <h3>Fully Customizable</h3>
            <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
        </div>
    </div>
</section>

